
<div class="w-full max-w-2xl mx-auto pt-10 md:pt-16 px-4 sm:px-6 lg:px-8">
      <!-- Profile -->
      <div class="flex items-center gap-x-3">
        <div class="shrink-0">
          <img class="shrink-0 size-16 rounded-full" src="/assets/swetha.jpg" alt="Avatar">
        </div>

        <div class="grow">
          <h1 class="text-lg font-medium text-gray-800 dark:text-neutral-200">
            Swetha Namana
          </h1>
          <p class="text-sm text-gray-600 dark:text-neutral-400">
            Java Springboot developer, Data Science Graduate
          </p>
        </div>
      </div>
