<!-- Skills -->
<div class="my-10 sm:my-14">
   <h2 class="mb-5 font-medium text-gray-800 dark:text-neutral-200">Skills</h2>
   <!-- Programming Languages -->
   <div class="space-y-3">
      <dl class="flex flex-col sm:flex-row gap-1">
         <dt class="min-w-40">
            <span class="block text-sm text-gray-500 dark:text-neutral-500">Programming Languages:</span>
         </dt>
         <dd class="flex flex-wrap gap-2 text-sm text-gray-800 dark:text-neutral-200">
            <span class="inline-flex items-center">
            <img src="src/assets/java.svg" alt="Java" class="w-4 h-4 me-1" /> Java, 
            </span>
            <span class="inline-flex items-center">
            <img src="src/assets/python.svg" alt="Python" class="w-4 h-4 me-1" /> Python, 
            </span>
            <span class="inline-flex items-center">
            <img src="src/assets/sql.svg" alt="SQL" class="w-4 h-4 me-1" /> SQL, 
            </span>
            <span class="inline-flex items-center">
            C, 
            </span>
            <span class="inline-flex items-center">
            <img src="src/assets/html.svg" alt="HTML" class="w-4 h-4 me-1" /> HTML, 
            </span>
            <span class="inline-flex items-center">
            <img src="src/assets/css.svg" alt="CSS" class="w-4 h-4 me-1" /> CSS, 
            </span>
            <span class="inline-flex items-center">
            <img src="src/assets/dsa.svg" alt="DSA" class="w-4 h-4 me-1" /> Data Structures and Algorithms
            </span>
         </dd>
      </dl>
      <!-- Frameworks & Libraries -->
      <dl class="flex flex-col sm:flex-row gap-1">
         <dt class="min-w-40">
            <span class="block text-sm text-gray-500 dark:text-neutral-500">Frameworks & Libraries:</span>
         </dt>
         <dd class="flex flex-wrap gap-2 text-sm text-gray-800 dark:text-neutral-200">
            <span><img src="src/assets/spring.svg" class="w-4 h-4 me-1 inline" /> Spring Boot, </span>
            <span><img src="src/assets/spring.svg" class="w-4 h-4 me-1 inline" /> Spring MVC, </span>
            <span> Spring Security, </span>
            <span><img src="src/assets/hibernate.svg" class="w-4 h-4 me-1 inline" /> Hibernate, </span>
            <span>JPA, </span>
            <span><img src="src/assets/rest-api.svg" class="w-4 h-4 me-1 inline" /> RESTful Web Services</span>
         </dd>
      </dl>
      <!-- Architecture & Patterns -->
      <dl class="flex flex-col sm:flex-row gap-1">
         <dt class="min-w-40">
            <span class="block text-sm text-gray-500 dark:text-neutral-500">Architecture & Patterns:</span>
         </dt>
         <dd class="flex flex-wrap gap-2 text-sm text-gray-800 dark:text-neutral-200">
            <span>Microservices, </span>
            <span>MVC, </span>
            <span>Singleton, </span>
            <span>DAO</span>
         </dd>
      </dl>
      <!-- DevOps & Tools -->
      <dl class="flex flex-col sm:flex-row gap-1">
         <dt class="min-w-40">
            <span class="block text-sm text-gray-500 dark:text-neutral-500">DevOps & Tools:</span>
         </dt>
         <dd class="flex flex-wrap gap-2 text-sm text-gray-800 dark:text-neutral-200">
            <span><img src="src/assets/jenkins.svg" class="w-4 h-4 me-1 inline" /> Jenkins, </span>
            <span><img src="src/assets/github-actions.svg" class="w-4 h-4 me-1 inline" /> GitHub Actions, </span>
            <span><img src="src/assets/maven.svg" class="w-4 h-4 me-1 inline" /> Maven, </span>
            <span><img src="src/assets/docker.svg" class="w-4 h-4 me-1 inline" /> Docker, </span>
            <span><img src="src/assets/git.svg" class="w-4 h-4 me-1 inline" /> Git, </span>
            <span>CI/CD Pipelines, </span>
            <span><img src="src/assets/sonarqube.svg" class="w-4 h-4 me-1 inline" /> SonarQube, </span>
            <span>Fortify, </span>
            <span><img src="src/assets/jira.svg" class="w-4 h-4 me-1 inline" /> JIRA</span>
         </dd>
      </dl>
      <!-- Cloud Platforms -->
      <dl class="flex flex-col sm:flex-row gap-1">
         <dt class="min-w-40">
            <span class="block text-sm text-gray-500 dark:text-neutral-500">Cloud Platforms:</span>
         </dt>
         <dd class="flex flex-wrap gap-2 text-sm text-gray-800 dark:text-neutral-200">
            <span><img src="src/assets/aws.svg" class="w-4 h-4 me-1 inline" /> AWS</span>
         </dd>
      </dl>
      <!-- Databases -->
      <dl class="flex flex-col sm:flex-row gap-1">
         <dt class="min-w-40">
            <span class="block text-sm text-gray-500 dark:text-neutral-500">Databases:</span>
         </dt>
         <dd class="flex flex-wrap gap-2 text-sm text-gray-800 dark:text-neutral-200">
            <span>MySQL, </span>
            <span><img src="src/assets/redis.svg" class="w-4 h-4 me-1 inline" /> Redis</span>
         </dd>
      </dl>
      <!-- Monitoring & Logging -->
      <dl class="flex flex-col sm:flex-row gap-1">
         <dt class="min-w-40">
            <span class="block text-sm text-gray-500 dark:text-neutral-500">Monitoring & Logging:</span>
         </dt>
         <dd class="flex flex-wrap gap-2 text-sm text-gray-800 dark:text-neutral-200">
            <span><img src="src/assets/elk.svg" class="w-4 h-4 me-1 inline" /> ELK Stack</span>
         </dd>
      </dl>
      <!-- Messaging Systems -->
      <dl class="flex flex-col sm:flex-row gap-1">
         <dt class="min-w-40">
            <span class="block text-sm text-gray-500 dark:text-neutral-500">Messaging Systems:</span>
         </dt>
         <dd class="flex flex-wrap gap-2 text-sm text-gray-800 dark:text-neutral-200">
            <span><img src="src/assets/kafka.svg" class="w-4 h-4 me-1 inline" /> Apache Kafka</span>
         </dd>
      </dl>
      <!-- Testing & QA -->
      <dl class="flex flex-col sm:flex-row gap-1">
         <dt class="min-w-40">
            <span class="block text-sm text-gray-500 dark:text-neutral-500">Testing & QA:</span>
         </dt>
         <dd class="flex flex-wrap gap-2 text-sm text-gray-800 dark:text-neutral-200">
            <span>JUnit, </span>
            <span>Mockito, </span>
            <span><img src="src/assets/postman.svg" class="w-4 h-4 me-1 inline" /> Postman</span>
         </dd>
      </dl>
      <!-- Development Methodologies -->
      <dl class="flex flex-col sm:flex-row gap-1">
         <dt class="min-w-40">
            <span class="block text-sm text-gray-500 dark:text-neutral-500">Development Methodologies:</span>
         </dt>
         <dd class="flex flex-wrap gap-2 text-sm text-gray-800 dark:text-neutral-200">
            <span>Agile, </span>
            <span>Scrum, </span>
            <span>Sprint Planning, </span>
            <span>Code Reviews</span>
         </dd>
      </dl>
   </div>
</div>